.ca {
    background-color: rgb(127, 255, 144);/*至于为什么用绿色，因为我喜欢绿色awa*/
    text-align: center;
    padding: 1em;
    margin-bottom: 0.5em;
}
.ba{
    
			background-color: rgb(240, 252, 135);
			max-width: 61.80em;
			margin: 0.5em auto;
			padding: 0.5em;
			line-height: 1.5;
		
}

